enlighten
minepy
numba
psutil
technical
hurst
vectorbt
bottleneck
numbagg
parameter-sherpa
# gpyopt needs latest because 1.6.4 not compatible with scipy 1.5
-e git+https://github.com/SheffieldML/GPyOpt#egg=gpyopt
pyDOE
emukit
statsmodels
pyitlib
arch
